@font-face {
    font-family: cocogoose;
    src: url(./fonts/cocogoose.otf);
  }
  
  @font-face {
    font-family: lato;
    src: url(./fonts/lato-regular.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: lato, sans-serif;
  }

  /* Header Section */

  .top-img {
    width: 12px;
    height: auto;
  }
  
  .top-item {
    list-style-type: none;
  }
  
  .top-link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }

.top-header {
  padding: 0.2rem 2rem;
  background-color: #272a31;
  display: none;
}

.top-list {
  display: flex;
  justify-content: end;
  gap: 4px;
}

/* Styles  NavBar*/

.navbar {
  display: flex;
  padding: 1rem 2rem;
}

.list1 {
  list-style-type: none;
  padding-left: 2rem;
  padding-top: 4rem;
}

/* animate hamburger menu */
.menu-icon {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

#brand-logo {
  display: none;
}

.line {
  display: block;
  background-color: #ec5242;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.menu.active .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: 0.7s;
  background-color: #fff;
}

.menu-icon.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: 0.7s;
  background-color: #fff;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  gap: 20px;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ec5242;
  opacity: 90%;
  margin: 0;
  padding: 0;
}

.menu-container.active {
  transform: translateX(0);
  transition: 0.7s ease-in-out;
}

/* Style Main Section */
.intro-section {
  padding: 3.5rem 2rem;
  background-color: #f3f0f0;
}

.intro-welcome {
  font-size: 22px;
  color: #ec5242;
}

.intro-title {
  font-family: cocogoose, lato, sans-serif;
  color: #ec5242;
}

.intro-desc {
  border: 0.2rem solid rgb(215, 216, 215);
  padding: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.date {
  font-family: cocogoose, lato, sans-serif;
  font-size: 22px;
}

/* Style Program Section */

.lang-section {
  padding: 2rem 2rem;
  background-color: #272a31;
  color: #fff;
}

.pro-title {
  text-align: center;
}

.lang-card {
  background-color: #3d4049;
  margin-top: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.lang-icon {
  min-width: 10%;
  height: auto;
}

.lang {
  color: #ec5242;
}

.join-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#join {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 1.8rem;
  background-color: #ec5242;
}

/* speaker section */
.speaker-section {
  padding: 2rem 2rem;
}

.speakers {
  text-align: center;
}

.docker-speaker {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.speaker-flex1 {
  flex: 1;
}

.speaker-flex2 {
  flex: 2;
}

.photo-speaker {
  max-width: 100%;
  height: auto;
}

.work-speaker {
  color: #ec5242;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.bio-speaker {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.docker-speaker-2,
.docker-speaker-3,
.docker-speaker-4,
.docker-speaker-5 {
  display: none;
}

.docker-speaker-2.active,
.docker-speaker-3.active,
.docker-speaker-4.active,
.docker-speaker-5.active {
  display: flex;
}

.show-more {
  background-color: #fff;
  border: 0.1rem solid #9e9fa0;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

/* Footer Section */
.footer-section {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  min-width: 10%;
  height: auto;
  flex: 1;
}

.go-home {
  width: 100%;
  height: auto;
  display: none;
}

.footer-div {
  flex: 1;
  font-size: 0.9rem;
}

.footer-text {
  margin-bottom: 0.2rem;
}

.contact-us,
.email {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}

/* mission section */

.mission-container {
  padding: 2rem 2rem;
  text-align: center;
  border-bottom: 0.2rem solid #e4e2e2;
}

.mission-top {
  margin-bottom: 1rem;
}

.mission {
  margin-bottom: 1rem;
}

.img-mission {
  max-width: 100%;
  height: auto;
}

/* past section */

.past-section {
  padding: 2rem 2rem;
  text-align: center;
}

.title-past {
  margin-bottom: 1rem;
}

.des-past {
  margin-bottom: 1rem;
}

.past-event1 {
  background: url(./images/event1.jpg);
  box-shadow: inset 0 0 0 1000px rgba(236, 82, 66, 0.7);
  padding: 6rem 1rem;
  margin-bottom: 1rem;
}

.past-event2 {
  background: url(./images/event2.jpg);
  box-shadow: inset 0 0 0 1000px rgba(236, 82, 66, 0.7);
  padding: 6rem 1rem;
  margin-bottom: 1rem;
}

.title-event {
  color: #fff;
}

/* partner section */
.partner-section {
  padding: 2rem 2rem;
  text-align: center;
  background-color: #272a31;
}

.partner-container {
  display: none;
}

.partner-title {
  color: #fff;
}

.company {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.company2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  width: 70%;
}

.company-logo {
  min-width: 10%;
  height: auto;
  flex: 1;
}

/* desktop version */
